.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../public/1743476.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.login .container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
}

.login .container-login .title-login {
    font-size: 30px;
    font-weight: 650;
    color: white;
    margin-bottom: 20px;
}

.login-form {
    width: 270px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}