.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../public/1743476.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.login .container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 300px;
}
.login .container-login .title-login {
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.login .container-login .box-input {
    margin-top: 10px;
}
.login .container-login .box-info {
    margin-top: 10px;
    color: white;
    font-size: 20px;
}
.login .container-login .box-info label a{
    color: white;
}
.login .container-login .box-info .checkbox {
    color: white!important;
    font-size: 20px !important;
    margin-right: 30px;
}
.login .container-login .box-login {
    margin-top: 15px;
}
.input {
    margin-top: 20px;
    width: 300px !important;
    height: 55px !important;
    border-radius: 20px !important;
}